# =========================
# .NET / Visual Studio
# =========================
**/bin/
**/obj/
.vs/
.vscode/

# Rider / JetBrains
.idea/

# =========================
# Blazor / WASM
# =========================
**/wwwroot/_framework/
**/wwwroot/service-worker-assets.js

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
**/docker-compose.override.yml

# =========================
# Logs
# =========================
*.log
