services:
  host:
    build: 
      context: .
      dockerfile: Host/Dockerfile
    container_name: host-auth
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      Auth__Authority: https://cognito-idp.us-east-2.amazonaws.com/us-east-2_vKyR3m62e
      Auth__ClientId: 3eeoatinh81guqpugrellkortg
      Auth__ClientSecret: 1qmniup7jush3sc49k984cvqvrvo8d258boflrsosm1djpa2jod0
      Auth__CallbackPath: /auth/callback
      Auth__SignedOutCallbackPath: /auth/logout
    expose:
      - "8080"

  shell:
    build: 
      context: .
      dockerfile: Shell.Client/Dockerfile
    container_name: shell-wasm
    expose:
      - "80"

  products:
    build: 
      context: .
      dockerfile: Products.Client/Dockerfile
    container_name: products-wasm
    expose:
      - "80"

  #orders:
  #  build: 
  #    context: .
  #    dockerfile: Orders.Client/Dockerfile
  #  container_name: orders-wasm
  #  expose:
  #    - "80"

  customers:
    build: 
      context: .
      dockerfile: Customers.Client/Dockerfile
    container_name: customers-wasm
    expose:
      - "80"

  nginx:
    image: nginx:alpine
    container_name: nginx-gateway
    ports:
      - "80:80"
    volumes:
      - ./nginx.dev.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - host
      - shell
      - products
      #- orders
      - customers