  server {
    listen 80;
    server_name localhost;

    proxy_buffer_size          128k;
    proxy_buffers              4 256k;
    proxy_busy_buffers_size    256k;

    large_client_header_buffers 4 32k;  

    # 🔑 OIDC callbacks (NO van bajo /auth)
    location /signin-oidc {
      proxy_pass http://host:8080/signin-oidc;
      proxy_set_header Host $host;
      proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /signout-callback-oidc {
      proxy_pass http://host:8080/signout-callback-oidc;
      proxy_set_header Host $host;
      proxy_set_header X-Forwarded-Proto $scheme;
    }

    location / {
      proxy_pass http://shell/;
      proxy_set_header Host $host;
      proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /products/ {
      proxy_pass http://products/;
      proxy_set_header Host $host;
    }

    location /orders/ {
      proxy_pass http://${ORDERS_UPSTREAM}/;
      proxy_set_header Host $host;
    }

    location /customers/ {
      proxy_pass http://customers/;
      proxy_set_header Host $host;
    }

    location /external/ {
      proxy_pass http://${EXTERNAL_UPSTREAM}/;
      proxy_set_header Host $host;
    }

    location /auth/ {
      proxy_pass http://host:8080/auth/;
      proxy_set_header Host $host;
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_set_header X-Forwarded-For $remote_addr;
    }

    

  }
