<AppShell AppName="Orders">
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(SharedMainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(SharedMainLayout)">
                <p>Page not found</p>
            </LayoutView>
        </NotFound>
    </Router>
</AppShell>