@inherits LayoutComponentBase

<div class="d-flex vh-100">
    <!-- Sidebar -->
    <SideMenu />

    <!-- Main content -->
    <div class="flex-grow-1 d-flex flex-column">
        <TopBar />

        <main class="flex-grow-1 bg-light">
            @Body
        </main>
    </div>
</div>