@page "/login"
@layout MainLayout
@inject HttpClient Http
@inject SharedAuthenticationStateProvider Auth
@inject NavigationManager Nav

<h3>Login</h3>

<button class="btn btn-primary" @onclick="LoginAction">
    Login
</button>

@code {
    private async Task LoginAction()
    {


        var fakeJwt =
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjMiLCJuYW1lIjoiRmFiaWFuIiwiZW1haWwiOiJmYWJpYW5AdGVzdC5jb20iLCJyb2xlIjpbIkFkbWluIl19.signature";

        await Auth.LoginWithJwtAsync(fakeJwt);


        Nav.NavigateTo("/");
    }
}