@page "/"

@inject SharedAuthenticationStateProvider Auth
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView>
    <Authorized Context="auth">
        <h3>Products</h3>
        <p>Usuario: @auth.User.Identity?.Name</p>
        <p>Email: @auth.User.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value</p>

        <button @onclick="Logout">Logout</button>
    </Authorized>

    <NotAuthorized>
        <p>No autenticado</p>
    </NotAuthorized>
</AuthorizeView>



@code {
    private async Task Logout()
    {
        await Auth.LogoutAsync();
        Navigation.NavigateTo("/");
    }
}