@inherits LayoutComponentBase

<div class="app-layout">
    <header>
        <TopBar />
    </header>

    <div class="body">
        <aside>
            <NavMenu />
        </aside>

        <main>
            @Body
        </main>
    </div>
</div>